body{
    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#logo {
    color: white;
    margin: 0px;
    padding: 8px;
    font-family: 'fredoka one'; arial
    width: 14%;
}

ul{
    margin: 0%;
}
body > header{
    background-color: burlywood;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul{
    display: flex;
}

#nav-ul > li{
    padding: 8px;
    margin: 16px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton{
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 20%;
}

#main-content{
    display: flex;
    justify-content: space-around;
}

#main-content > div{
    width: 85%;
}

body > main article{
    width: 70%;
    margin: auto;
}

#form-h{
    text-align: center;
}

form{
    text-align: center;
}

#footer-h{
    color: black;
    margin: 0px;
    padding: 2%;
    font-family: fredoka one; arial 
}

body > footer{
    background-color: burlywood;
}

#footer-ul{
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 16px;
}

#footer-ul > div > li > a {
    text-decoration: none;
    color: white;
}